.minh{
  min-height: 85vh;
}

.storeAndMap{
  margin-top: 120px;
}

.singinAndMap{
  margin-bottom: 120px;
}

.store-title {
  background: rgba(255, 255, 255, 0.6);
}

.store-title {
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: #000000;
  font-weight: bolder;
}

.store-list-body {
  background: rgba(255, 255, 255, 0.15);
  width: 60vw;
  /* border-radius: 20px; */
}
.store-subtitle {
  font-size: 32px;
}
.store-list-body label {
  color: #fff;
}
.store-search-target {
  color: #fff;
  background-color: red;
}

.store-search {
  display: none;
}
.store-table {
  color: #ffffff !important;
  border-collapse: collapse;
}

.store-table th {
  background: rgba(255, 255, 255, 0.2) !important;
  font-size: 18px;
}
.store-table th:first-child {
  border-radius: 20px 0 0 0;
}

.store-table th:last-child {
  border-radius: 0 20px 0 0;
}

.store-table td {
  border: 1px solid transparent;
  background-color: #dbdbdb !important;
  color: #000000;
}

.store-table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}

.store-table tbody tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}

.store-add-body {
  background: rgba(255, 255, 255, 0.15);
  width: 60vw;
  padding: 0 50px;
}

.store-add-body p,
.store-list-body p {
  font-size: 32px;
  margin: 0;
}

.store-add-body label,
.store-list-body label {
  font-size: 18px;
  color: #ffffff;
}

.store-add-img {
  width: 70%;
  aspect-ratio: 2/1;
}

.store-add-img img {
  object-fit: cover;
  object-position: center center;
}

.store-edit-img {
  width: 600px;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center center;
}
.fade.modal.show {
  padding: 0 !important;
}
.diff input[type='radio'] {
  display: none;
  border: none;
}
.diff label {
  color: #fff;
}
@media (max-width: 1400px) {
  .store {
    margin-top: 10px;
  }
  .storeAndMap{
    margin-top: 60px;
  }
  .Menu-horizontal{
    margin-top: 60px;
  }
  .store-title {
    width: 85vw;
  }
  .store-list-body {
    background: rgba(255, 255, 255, 0.15);
    width: 85vw;
  }
}

@media (max-width: 1200px) {
  .phonehidden {
    display: none;
    overflow: hidden;
  }

  .store-add-body {
    width: 85vw;
  }

  .store-list-body {
    padding: 0;
  }
  .store-edit-img {
    width: 300px;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center center;
  }
}
