* {
  margin: 0;
  padding: 0;
}

.m-memberAccountMain {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 0 auto !important;
  z-index: 11;
  border-radius: 15px;
}
.memberAside {
  width: 15%;
  height: 270px;
  margin-right: 70px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 15px;
}
.memberAside {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.m-asideItem {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.memberAside p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.memberAside .m-rightArrowIcon {
  display: none !important;
  margin-right: 5px !important;
  font-size: 24px;
  color: #ef403f !important;
}
.memberAside p:hover {
  color: #ef403f !important;
}
.memberAside p:hover + .m-rightArrowIcon {
  display: block !important;
}

.container {
  width: 100% !important;
  height: 100%;
}

.m-memberAccountDiv {
  background-color: rgba(255, 255, 255, 0.6);
  height: 80px;
  justify-content: center;
  padding: 10px !important;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.m-profileMainContext {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0 auto !important;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 50px !important;
  border-radius: 15px;
  margin-bottom: 100px !important;
}
.m-profileMainContext h1 {
  margin-bottom: 20px;
}
.m-profileHeadShot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.m-profileHeadShot form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.m-profileHeadShot button {
  padding: 8px;
  border: 1px solid #fff;
  color: #fff;
  margin: 0;
  border-radius: 15px;
}

.m-profileHeadShot button:hover {
  background-color: #ef403f;
  color: #fff;
  border: 1px solid #ef403f;
}
#imgUpload {
  margin-bottom: 24px;
}
.m-profileImg {
  width: 15%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.m-profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 20px;
}
.m-profileInfo > div {
  width: 60%;
}
.m-profileAccount,
.m-profilePassword,
.m-profileRealName,
.m-profileEmail,
.m-profileMobile,
.m-profileNickName,
.m-profileGender,
.m-profileBirth,
.m-profileIdentity,
.m-profileLevel {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
.m-profileAccount p,
.m-profilePassword p,
.m-profileRealName p,
.m-profileEmail p,
.m-profileMobile p,
.m-profileNickName p,
.m-profileGender p,
.m-profileBirth p,
.m-profileIdentity p,
.m-profileLevel p {
  margin: auto 25px auto 0;
}
.m-profilePassword > div,
.m-profileRealName > div,
.m-profileEmail > div,
.m-profileMobile > div,
.m-profileNickName > div {
  display: flex;
  width: 90%;
}

.m-profileInfo div:last-child {
  margin-bottom: 0px;
}
.m-profileEditIcon {
  font-size: 20px;
}
.m-profileEditIcon:hover {
  color: #ef403f;
}
