/* ---this start--- */
.gamesFilterMain {
  display: flex;
}

/* ---遊戲清單--- */
.gamesFilterSection {
  width: 100%;
  height: auto;
  background-color: black;
  padding: 10px 70px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

}

.game-item {  
  display: flex;
  width: 315px;
  height: 250px;
  margin: 0px 26px 26px 0px;
  opacity: 0.8;
}


.gamesFilterSection figure {
  display: block;
  width: 100%;
  height: 145px;
  margin: 0;
  overflow: hidden;
  position: relative;
  
}

.games-imgs {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: auto;
}

.games-description {
  position: absolute;
  top: 102px;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.games-article {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-size: 16px;
}

.games-article-tagtop {
  margin-top: 5px;
  width: 250px;
  height: 53px;
  border-bottom: 1px solid #ccc ;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.cardgamesname{
  font-weight: bold;
}

.gamestaricon {
  color: rgb(230, 182, 37);
  font-size: 18px;
}

.games-article-tagbottom {
  width: 250px;
  height: 45px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}




.gamesFilterSection article {
  width: 100%;
}

/* ---顯示在篩選頁 主程式在MainPage--- */
.buttonFilterMore {
  position: sticky;
  top: 40px;
  left: 820px;
  z-index: 999;
  width: 100px;
}

.buttonFilterMoreoff {
  display: none;
}

.buttonFilterMore:hover {
  color: rgba(208, 27, 27, 0.6);
}

/* 進階篩選按鈕 */
.filterBlockoff {
  display: none;
}

.filterBlock {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 11;
  padding: 20px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.9);
}

.filterBlockSecond {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0px 20px;
}

.filterBlockSecondoff {
  display: none;
}

.filterBlockSecond ul {
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.filterBlockSecond ul li {
  /* color: gray; */
  /* border: 1px solid gray; */
  margin: 0px 10px 20px 0px;
  padding: 5px;
}

.filterBlockSecond ul li:hover {
  color: gray;
  border: 1px solid red;
}

.filterBtnMain {
  display: flex;
}

.filterBtnClock {
  cursor: pointer;
  list-style-type: none;
  border: 1px solid rgba(208, 27, 27, 0.6);
  color:  rgba(208, 27, 27, 0.6);
}

.filterBtn {
  cursor: pointer;
  list-style-type: none;
    color: gray;
  border: 1px solid gray;
}

.filterBtnFirst {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: center;
}

.filterBtnFirst p {
  margin: 0;
  width: 32px;
}

/* 返回遊戲主頁按鈕 */
.rolBack {
  display: inline-block;
  position: sticky;
  top: 40px;
  left: 950px;
  z-index: 999;
  width: 60px;
  padding: 0;
}

.rolBackoff {
  display: none;
}

.rolBack div {
  font-size: 18px;
  padding-bottom: 3px;
}

@media (max-width: 1480px) {
  .gamesFilterSection {
    justify-content: center;
    padding: 10px 0px 0px 10px;
  }

  .filterBlock {
    padding: 20px 0px 0px 120px;
  }
}
