/* ---this start--- */
.gamesFilterMain {
  display: flex;
}

/* ---遊戲清單--- */
.gamesFilterSection {
  width: 100%;
  height: auto;
  background-color: black;
  padding: 10px 70px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.game-item {
  display: flex;
  width: 315px;
  height: 250px;
  margin: 0px 26px 26px 0px;
  opacity: 0.8;
}


.gamesFilterSection figure {
  display: block;
  width: 100%;
  height: 145px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.gamesFilterSection section:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.games-imgs {
  object-fit: cover;
  object-position: center -10px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.games-description {
  position: absolute;
  top: 102px;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.games-article {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-size: 16px;
  border-radius: 0px 0px 20px 20px;;
}

.games-article-tagtop {
  margin-top: 5px;
  width: 250px;
  height: 53px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardgamesname {
  font-weight: bold;
}

.gamestaricon {
  color: rgb(230, 182, 37);
  font-size: 18px;
}

.games-article-tagbottom {
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gamesFilterSection article {
  width: 100%;
}

/* ---顯示在篩選頁 主程式在MainPage--- */
.buttonFilterMore {
  position: sticky;
  top: 40px;
  left: 820px;
  z-index: 999;
  width: 100px;
}

.buttonFilterMoreoff {
  display: none;
}

.buttonFilterMore:hover {
  color: rgba(208, 27, 27, 0.6);
}

/* 進階篩選按鈕 */
.filterBlockoff {
  display: none;
}

.filterBlock {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 11;
  padding: 20px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.9);
}

.filterBlockSecond {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0px 20px;
}

.filterBlockSecondoff {
  display: none;
}

.filterBlockSecond ul {
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.filterBlockSecond ul li {
  /* color: gray; */
  /* border: 1px solid gray; */
  margin: 0px 10px 20px 0px;
  padding: 5px;
}

.filterBlockSecond ul li:hover {
  color: gray;
  border: 1px solid red;
}

.filterBtnMain {
  display: flex;
}

.filterBtnClock {
  cursor: pointer;
  list-style-type: none;
  border: 1px solid rgba(208, 27, 27, 0.6);
  color: rgba(208, 27, 27, 0.6);
}

.filterBtn {
  cursor: pointer;
  list-style-type: none;
  color: gray;
  border: 1px solid gray;
}

.filterBtnFirst {
  color: white;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: center;
}

.filterBtnFirst p {
  margin: 0;
  width: 32px;
}

/* 返回遊戲主頁按鈕 */
.rolBack {
  display: inline-block;
  position: sticky;
  top: 40px;
  left: 950px;
  z-index: 999;
  width: 60px;
  padding: 0;
}

.rolBackoff {
  display: none;
}

.rolBack div {
  font-size: 18px;
  padding-bottom: 3px;
}

@media (max-width: 1880px) {
  .gamesFilterSection {
    justify-content: center;
    padding: 10px 0px 0px 10px;
  }

  .filterBlock {
    padding: 20px 0px 0px 120px;
  }
}









/* ---loader--- */
.lds-spinner {
  color: official;
  position: relative;
  width: 100vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items:center;
}
.lds-spinner div {
  transform-origin: 60px 60px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
