body {
  background: #000;
}
#canvas1 {
  background: #000;
  /* border: 5px solid white; */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#playerImg,
#backgroundImg {
  display: none;
}

.red {
  color: white;
}
