.fullpage {
  width: 100%;
  height: 1000vh;
  display: flex;
  background-size: cover;

  background-attachment: fixed;
}

.pagecontent2 {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns2 {
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: white;
  margin-top: 5%;
}
.return {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.gamedetail {
  width: 75%;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 3%;
  display: flex;
}
.img2 {
  width: 30%;
  height: 40vh;
  border: 1px solid #d01b1b;
  object-fit: cover;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gameinfo {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.gametitle {
  width: 100%;
  font-size: 25px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.averagerate {
  margin-left: 20px;
  font-size: 20px;
  color: #d01b1b;
  display: flex;
  align-items: center;
}
.ratescore {
  font-size: 18px;
}

.tips {
  width: 100%;
  height: 20%;
  font-size: 15px;
  color: white;
  text-align: center;
  display: flex;
  margin-top: 5%;
}
.person {
  width: 20%;
  height: 100%;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
}
.time {
  width: 20%;
  height: 100%;
  border-right: 1px solid white;
}
.address {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameintro {
  width: 100%;
  font-size: 15px;
  color: white;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
  padding: 0;
}
.rate {
  width: 75%;
  height: 5vh;
  /* border: 1px solid white; */
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d01b1b;
  font-size: 25px;
}
.input2 {
  width: 75%;
  height: 15vh;
  background-color: black;
  margin-top: 3%;
  border-radius: 10px;
}
.commentinput {
  width: 100%;
  height: 15vh;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.inputbtns {
  width: 75%;
  height: 3vh;
  display: flex;
  justify-content: end;
  color: white;
  margin-top: 1%;
}
.pics {
  margin-right: 10px;
}
.commentandgames {
  width: 75%;

  display: flex;
  margin-top: 5%;
}
.commentandreplyfiled {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.commentandreply {
  width: 100%;
  /* height: 100vh; */
  margin-top: 50px;
}

.userinfo {
  width: 100%;

  margin-top: 3%;
  display: flex;
}
.usericon {
  width: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid red;
}
.usericonimg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.usercommentdetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.datetime {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.ratestar {
  display: flex;
  color: #d01b1b;
}
.commenttext {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 20px;
}
.reply {
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.apartline {
  color: white;
}
.apartline-mobile {
  display: none;
}
.replybtn {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.liked {
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.disliked {
  height: 30px;
  display: flex;
  align-items: center;
}
.replyid {
  margin-top: 2%;
  margin-left: 10px;
  color: white;
  display: flex;
}
.replytext {
  color: white;
  font-size: 16px;
  margin-left: 20px;
}
.usernamereply {
  color: #d01b1b;
  margin-right: 10px;
  margin-left: 10px;
}
.gamerecommend {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.recommandgamename {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommandtitle {
  width: 100%;
  text-align: center;
  color: #d01b1b;
}
.hotgame {
  width: 100%;
  height: 25vh;
  border-radius: 10%;
  border: 3px solid #d01b1b;
  margin-top: 3%;
  background-color: white;
}
.hotgameimg {
  width: 100%;
  height: 70%;

  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.hotgameinnerimg {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.replyinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.callinput {
  width: 100%;
  border-radius: 10px;
}
.upupup {
  display: none;
}

.memberUlSecond {
  list-style: none;
}

.css1 {
  color: black;
  width: 50px;
  height: 30px;
}
.css2 {
  color: #d01b1b;
}
.a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 768px) {
  .fullpage {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
  }
  .bgfont {
    display: none;
  }
  .pagecontent2 {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10vh; */
  }
  .menubutton {
    display: none;
  }
  .gamedetail {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
  .img2 {
    width: 100%;
    height: 30vh;
  }
  .image {
    width: 100%;
    height: 30vh;
  }
  .gameinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .gametitle {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .info {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .person {
    width: 15%;
  }
  .time {
    width: 15%;
  }
  .address {
    width: 70%;
  }
  .addressp {
    width: 80%;

    font-size: 6px;
  }
  .input2 {
    width: 90%;
  }
  .inputbtns {
    width: 90%;
  }
  .gamerecommend {
    display: none;
  }
  .commentandgames {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .commentandreply {
    width: 100%;
  }
  .apartline {
    display: none;
  }
  .apartline-mobile {
    display: block;
  }
  .rate {
    width: 75%;
    height: 10vh;
    /* border: 1px solid white; */
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d01b1b;
    font-size: 25px;
  }
  .ratescore {
    font-size: 10px;
  }
  .gametitle {
    width: 100%;
    font-size: 16px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .averagerate {
    margin-left: 20px;
    font-size: 12px;
    color: #d01b1b;
    display: flex;
    align-items: center;
  }
  .tips {
    width: 100%;
    height: 20%;
    font-size: 12px;
    color: white;
    text-align: center;
    display: flex;
    margin-top: 5%;
  }
  .usericon {
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid red;
  }
  .usericonimg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .commenttext {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    font-size: 16px;
  }
}
