* {
  margin: 0;
  padding: 0;
}

/* header {
  margin-bottom: 100px;
} */
.m-memberRegisterMain {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2) !important;
  width: 40%;
  margin: 0 auto !important;
  z-index: 5;
  border-radius: 15px;
  margin-bottom: 100px !important;
}

.m-firstSection {
  width: 100%;
  margin-bottom: 50px !important;
}

.m-loginOrSignUp {
  background-color: #7f7f7f !important;
}
.m-signInBorderRadius {
  border-radius: 0 15px 0 0 !important;
}
.m-loginChange,
.m-signInChange {
  width: 50%;
  height: 55px;
  font-weight: bold !important;
  font-size: 24px !important;
  color: #fff !important;
}

.m-mainText {
  margin-bottom: 38px !important;
}

.m-mainText > h1 {
  font-weight: bold;
  font-size: 28px !important;
  color: #fff !important;
}
.m-mainText > h4 {
  font-weight: bold;
  font-size: 20px !important;
  color: #fff !important;
}
.m-registerSecondSection form {
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
}
.m-registerSecondSection form > div > div {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 60px;
  position: relative;
}

.m-registerSecondSection form label {
  margin: auto 0;
  width: 25%;
  text-align: end;
  color: #fff;
  margin-right: 8px;
  font-size: 20px;
  font-weight: bold;
}
.m-registerAccountInput,
.m-registerPasswordInput,
.m-registerPasswordVerifyInput,
.m-registerRealNameInput,
.m-registerEmailInput,
.m-registerMobileInput,
.m-registerNickNameInput,
.m-registerBirthInput,
.m-registerIdentityInput {
  width: 65%;
  height: 50px;
  border-radius: 15px;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 3px solid rgba(255, 255, 255, 0.8) !important;
  outline: 0 !important;
}
.m-registerAccountInput::placeholder,
.m-registerPasswordInput::placeholder,
.m-registerPasswordVerifyInput::placeholder,
.m-registerRealNameInput::placeholder,
.m-registerEmailInput::placeholder,
.m-registerMobileInput::placeholder,
.m-registerNickNameInput::placeholder,
.m-registerIdentityInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
.m-registerGenderRadio {
  display: flex;
  width: fit-content;
  border-radius: 15px;
  padding: 5px;
}
.m-registerGenderRadio input {
  margin-right: 5px;
}
.m-registerGenderRadio label {
  margin-right: 8px;
}
.m-registerSubmit {
  width: 50%;
  height: 75px;
  border-radius: 15px;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 3px solid rgba(255, 255, 255, 0.8) !important;
  margin-bottom: 50px;
  color: #fff;
}
.m-registerSubmit:hover {
  background-color: #ef403f !important;
}
.m-inputInvalid {
  border: 3px solid #ef403f !important;
}

.m-registerSecondSection form > div > div p {
  color: #fff;
  position: absolute;
  left: 29%;
  top: 60px;
  color: #ef403f !important;
}
.m-registerGenderRadio p {
  top: 50px !important;
  color: #ef403f !important;
}
