.O_Reserve_Calendar_DateBtn {
  /* width: 20%; */
  margin: 5px 10px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  height: auto;
  text-align: center;
}

.O_Reserve_Calendar_ReserveBtn {
  padding: 8px 30px;
  border-style: none;
  border-radius: 5px;
  background-color: #D01B1B;
  color: white;
  font-size: 18px;
}

/* ---------------------- */

/* 日曆 */
.react-calendar {
  font-size: 16px;
}

/* 年月標題+icon整列 */
.react-calendar__navigation {
  /* height: 16px !important; */
  margin: 0 !important;
}

/* 前後月icon-btn */
.react-calendar__navigation__arrow {
  color: white !important;
}

/* 年月標題 */
.react-calendar__navigation__label__labelText {
  color: white;
}

/* 星期標題 */
.react-calendar__month-view__weekdays__weekday {
  font-size: 16px;
}

/* 當月全部日期 */
.react-calendar__tile {
  color: white;
  /* border: 1px solid white !important; */
}


/* --------------動態改-------------- */
.react-calendar__navigation :hover {
  background-color: #D01B1B !important;
}

.react-calendar__tile:hover {
  background-color: #D01B1B !important;
}

/* 當月全部假日 */
.react-calendar__month-view__days__day--weekend {
  color: rgb(252, 145, 58) !important;
}

/* 前後月的日期 */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

/* 當天日期 */
.react-calendar__tile--now {
  background-color: transparent !important;
}

/* 選取日期 */
.react-calendar__tile--active {
  background-color: #D01B1B !important;
}

/* 當天前限制日期都反灰 */
.react-calendar__tile:disabled {
  background-color: rgba(128, 128, 128, 0.397) !important;
  color: #757575;
}

/* 當天前限制日期的btn都反灰 */
.react-calendar__navigation button:disabled {
  background-color: gray !important;
}

/* 年月欄位btn選取色 */
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #D01B1B !important;
}


/* 測試用 */

.O_Reserve_Calendar_DateBtn:hover {
  background-color: #D01B1B;
}

.O_Reserve_Calendar_BtnActive {
  background-color: #D01B1B;
}

.O_Reserve_Calendar_BtnDisabled {
  background-color: rgba(128, 128, 128, 0.397) !important;
  color: #757575 !important;
}

.ant-btn-default:disabled {
  color: white;
}