.O_Reserve_Comment p {
  font-size: 20px;
}

/* -------------------------- */
@media (max-width: 1550px) {
  .O_Reserve_Comment h5 {
    font-size: 18px;
  }

  .O_Reserve_Comment p {
    font-size: 14px;
  }
}